<! DOCTYPE html>
<html>
	<head>

	</head>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
	<!-- Adapted from https://bensonruan.com/handwritten-digit-recognition-with-tensorflow-js/ -->
    <body>
        <!-- <canvas id="can" width="200" height="200" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas> -->

		<div id="canvas_box" class="canvas-box"></div>
		<button id="predict-button" class="btn btn-dark" style = "position:absolute; top:80%; left: 15%">Predict</button>
		<button id="clear-button" style = "position:absolute; top:80%; left: 10%">Clear</button>

		<p id = "prediction-text" style = "position:absolute; top:90%; left: 15%">Predictions:  </p>


		<script src="../static/javascript/draw_on_canvas.js"></script>	
		<script src = "../static/javascript/predict_number.js"></script>	
	</body>

	<script type="text/javascript">
			
		
		function displayLabel(data) {
			var max = data[0];
			var maxIndex = 0;
		
			for (var i = 1; i < data.length; i++) {
				if (data[i] > max) {
					maxIndex = i;
					max = data[i];
				}
			}

			console.log(maxIndex);
			document.getElementById("prediction-text").innerHTML = maxIndex;
		}
	</script>
	
	
</html>